@font-face {
    font-family: "Roboto Regular";
    src: url(/assets/font/Roboto/Roboto-Regular.ttf);
}
body {
    margin: 0;
    font-family: "Roboto Regular";
}
/* NAV */
header>nav>ul>li {
    list-style: none;
    padding: 0 20px;
}
header>nav>ul{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
    width: 50%;
    margin: 0 auto;
}
header>nav{
    width: 100vw;
    position: fixed;
    background-color: white;
}
header>nav>ul>li>a{
    color: black;
    text-decoration: none;
    font-size: 1rem;
    font-weight:bold;
}
header>nav>ul>li:not(:first-child){
    border-left: 2px solid black;
}
/* Fin Nav */
/* Main */
.logo{
    background-image: url(/assets/image/new-world-amazon-jeu.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10%;
}
main>section>h2{
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 2.4rem;
}
    
main>section>img{
    height: 20vh;
}
main>.synthese{
    text-align: center;
    padding: 0 19%;
    display: flex;
    flex-direction: column;
    align-items: center;

}
main>section>p{
    padding:2rem;
}
main>section>.btn{
    background-color:orange;
    padding: 1rem;
    
    
    
}
main>section>.btn>a{
    color: white;
    text-decoration: none;
}
main>.actu-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10%;
}
main>.actu-main>.container{
    display: flex;
    justify-content: space-around;
    padding-bottom: 8%;
    
}
main>.actu-main>.container>.actu{
    width: 28%;
    margin: 2rem;
    
}
.content>img{
    width: 100%;
}
main>.actu-main>.container>.actu>.content{
    background-color:rgb(59, 53, 53);
    height: 100%;
    padding: 0 auto;
}
.content>h5,p{
    padding: 0 5%;
}
.content>h5{
    color: white;
    font-size: 0.9rem;
}
.content>p{
    color: white;
    font-size: 1rem;
}
/* Fin main */
/* debut footer */
footer{
    background-color: rgb(0, 0, 0);
    padding: 1rem 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}
footer>img{
    height: 6vh;
    padding: 0 3rem;
}
footer>ul{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%; 
}
footer>ul>li{
    padding: 0 1rem;
}
footer>ul>li>a{
    text-decoration: none;
    color: white;
}
footer>ul>li:not(:first-child){
    border-left: 2px solid rgb(255, 255, 255);
}
/* fin footer */
/* debut reponsive tablet*/
@media screen and (max-width: 768px){

    .synthese{
        display: flex;
        justify-content:center;
    }
    footer>img{
        padding-left: 0%;
    }
}
@media screen and (max-width: 425px){
    
    .container{
        flex-direction: column;
        align-items: center;
    }
    .actu{
        width: 80% !important
    }
    footer>ul{
        flex-direction: column;
    }
    
    header>nav>ul{
        flex-direction: column;
        justify-content: center;

    }
    header>nav>ul>li:not(:first-child){
        border-left:none;

    }
    header>nav{
        position: relative;
    }
    footer>ul>li:not(:first-child){
        border-left:none;
    }
    footer>ul{
        padding: 0;
        text-align:  center;
    }
    .logo{
        text-align: center;
    }
}